################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PwcChallenge/v17
/.vs
/PwcRentalBack/RentalCar/.vs
/PwcRentalBack/RentalCar/obj
/PwcRentalBack/RentalCar.Models/obj
/PwcRentalBack/RentalCar.Persistence/obj
/PwcRentalBack/RentalCar/bin
/PwcRentalBack/RentalCar.Models/bin
/PwcRentalBack/RentalCar.Persistence/bin
/PwcRentalBack/RentalCar/bin/Debug/net8.0
/PwcRentalBack/RentalCar/bin/Debug/net9.0
/PwcRentalBack/RentalCar.Models/bin/Debug/net8.0
/PwcRentalBack/RentalCar/.vs/ProjectEvaluation
/PwcRentalBack/RentalCar.Persistence/obj/Debug/net8.0
/PwcRentalBack/RentalCar.Persistence/bin/Debug/net8.0
/PwcRentalBack/RentalCar.Application/obj/Debug/net8.0
/PwcRentalBack/RentalCar.Application/obj
/PwcRentalBack/RentalCar.Application/bin
/PwcRentalBack/RentalCar.Application/bin/Debug/net8.0